// font family
$font-family-inconsolata: 'Inconsolata', monospace;
$font-family-monserrat: 'Montserrat', sans-serif;
$font-family-space-mono: 'Space Mono', monospace;

// font size
$font-size-small: 14px;
$font-size-medium: 24px;
$font-size-large: 64px;

// font weight
$font-weight-small: 400;
$font-weight-medium: 500;
$font-weight-large: 700;
$font-weight-bold: bold;

// font style
$font-style-normal: normal;
$font-style-italic: italic;
$font-style-oblique: oblique;

// Colors
$color-primary: #333333;
$color-secondary: #4F4F4F;
$color-ternary: #BDBDBD;
$color-quaternary: #FFFFFF;
$color-quinary: #60588E;
