// font family
$font-family-inconsolata: 'Inconsolata', monospace;
$font-family-monserrat: 'Montserrat', sans-serif;
$font-family-space-mono: 'Space Mono', monospace;

// font size
// mobile
$font-size-small: 0.500rem;
$font-size-medium: 0.75rem;
$font-size-large: 2rem;
// desktop
$font-size-small-desktop: 0.875rem;
$font-size-medium-desktop: 1.5rem;
$font-size-large-desktop: 4rem;

// font weight
$font-weight-small: 400;
$font-weight-medium: 500;
$font-weight-large: 700;
$font-weight-bold: bold;

// font style
$font-style-normal: normal;
$font-style-italic: italic;
$font-style-oblique: oblique;

// Colors
$color-primary: #333333;
$color-secondary: #4F4F4F;
$color-ternary: #BDBDBD;
$color-quaternary: #FFFFFF;
$color-quinary: #60588E;