@import "variables";
@import "mixins";

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.container {
  width: 95%;
  height: 93%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem auto 1rem auto;
}

header {
  @include tablet-or-desktop{
    span{
      font-size: $font-size-medium-desktop !important;
    }
  }
  span {
    @include custom-style-text(
      $font-family-inconsolata,
      $font-style-normal,
      $font-weight-bold,
      $font-size-medium
    );
    @include custom-props-text(25px, -0.08em, uppercase, $color-primary);
  }
}

main {
  display: inherit;
  flex-direction: inherit;
  // // Media query
  @include tablet-or-desktop{
    flex-direction: row;
    section{
      article{
        img{
          width: 90% !important;
        }
        h1{
          font-size: $font-size-large-desktop !important;
          line-height: 94.78px !important;
        }
        p{
          width: 70% !important;
          font-size: $font-size-medium-desktop !important;
          line-height: 35.54px !important;
        }
        button {
          width: 33% !important;
          height: 7vh !important;
          margin-block-start: 1rem;
          background-color: $color-primary;
          color: #FFFFFF;
          @include custom-style-text(
            $font-family-space-mono !important,
            $font-style-normal !important,
            $font-weight-large !important,
            $font-size-small-desktop !important,
          );
          cursor: pointer;
      }
      }
    }
  }
  section{
    article{
      img{
        width: 100%;
      }
      h1 {
        @include custom-style-text(
          $font-family-space-mono,
          $font-style-normal,
          $font-weight-large,
          $font-size-large,
        );
        @include custom-props-text(42.39px, -3.5%, lowercase, $color-primary);
        &::first-letter{
          text-transform: uppercase;
        }
      }
      p {
        @include custom-style-text(
          $font-family-space-mono,
          $font-style-normal,
          $font-weight-small,
          $font-size-medium,
        );
        @include custom-props-text(17.27px, -3.5%, lowercase, $color-secondary);
        &::first-letter{
          text-transform: uppercase;
        }
      }
      button {
        width: 50%;
        height: 5vh;
        margin-block-start: 1rem;
        background-color: $color-primary;
        color: #FFFFFF;
        @include custom-style-text(
          $font-family-space-mono,
          $font-style-normal,
          $font-weight-large,
          $font-size-small,
        );
      }
    }
  }
}

footer {
  @include tablet-or-desktop{
    h6{
      font-size: $font-size-small-desktop !important;
    }
  }
  h6 {
    text-align: center;
    @include custom-style-text(
      $font-family-monserrat,
      $font-style-normal,
      $font-weight-medium,
      $font-size-small,
    );
    @include custom-props-text(17.07px, -0.08em, lowercase, $color-ternary);
    a {
      text-decoration: none;
      color: $color-ternary;
      &:hover {
        color: $color-quinary;
      }
    }
  }
}
